<a class="menu-toggler" id="menu-toggler" href="#">
    <span class="menu-text"></span>
</a>

<div class="sidebar" id="sidebar">
<script type="text/javascript">
    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
</script>

<div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success">
            <i class="icon-signal"></i>
        </button>

        <button class="btn btn-info">
            <i class="icon-pencil"></i>
        </button>

        <button class="btn btn-warning">
            <i class="icon-group"></i>
        </button>

        <button class="btn btn-danger">
            <i class="icon-cogs"></i>
        </button>
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-info"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
    </div>
</div><!-- #sidebar-shortcuts -->

<ul class="nav nav-list">
<li class="active">
    <a href="index.html">
        <i class="icon-dashboard"></i>
        <span class="menu-text"> 我的万普动力 </span>
    </a>
</li>

<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-desktop"></i>
        <span class="menu-text"> 账户中心</span>

        <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
        <li>
            <a href="elements.html">
                <i class="icon-double-angle-right"></i>
                基本信息
            </a>
        </li>
        <li>
            <a href="elements.html">
                <i class="icon-double-angle-right"></i>
                平台消息
            </a>
        </li>
        <li>
            <a href="elements.html">
                <i class="icon-double-angle-right"></i>
                充值
            </a>
        </li>
        <li>
            <a href="buttons.html">
                <i class="icon-double-angle-right"></i>
                密码修改
            </a>
        </li>


    </ul>
</li>


<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-desktop"></i>
        <span class="menu-text"> 推广计划</span>

        <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
        <li>
            <a href="__MODULE__/Weimedia/Index/order/1">
                <i class="icon-double-angle-right"></i>
                最佳匹配
            </a>
        </li>

        <li>
            <a href="__MODULE__/Weimedia/Index/order/2">
                <i class="icon-double-angle-right"></i>
                粉丝最多
            </a>
        </li>

        <li>
            <a href="__MODULE__/Weimedia/Index/order/3">
                <i class="icon-double-angle-right"></i>
                限时计划
            </a>
        </li>

    </ul>
</li>

<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-list"></i>
        <span class="menu-text"> 预约管理 </span>

        <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
        <li>
            <a href="tables.html">
                <i class="icon-double-angle-right"></i>
                创建预约
            </a>
        </li>

        <li>
            <a href="tables.html">
                <i class="icon-double-angle-right"></i>
                被拒绝预约
            </a>
        </li>

        <li>
            <a href="jqgrid.html">
                <i class="icon-double-angle-right"></i>
                进行中的预约
            </a>
        </li>

    </ul>
</li>

<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-list"></i>
        <span class="menu-text"> 万普联盟 </span>

        <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
        <li>
            <a href="tables.html">
                <i class="icon-double-angle-right"></i>
                互助推广中心
            </a>
        </li>
        <li>
            <a href="tables.html">
                <i class="icon-double-angle-right"></i>
                创建互助推广
            </a>
        </li>
        <li>
            <a href="tables.html">
                <i class="icon-double-angle-right"></i>
                收到的互助推广
            </a>
        </li>
        <li>
            <a href="tables.html">
                <i class="icon-double-angle-right"></i>
                进行中的互助推广
            </a>
        </li>

    </ul>
</li>

<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-edit"></i>
        <span class="menu-text"> 财务中心 </span>

        <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
        <li>
            <a href="form-elements.html">
                <i class="icon-double-angle-right"></i>
                财务明细
            </a>
        </li>
        <li>
            <a href="form-elements.html">
                <i class="icon-double-angle-right"></i>
                冻结金额
            </a>
        </li>
        <li>
            <a href="form-elements.html">
                <i class="icon-double-angle-right"></i>
                消费记录
            </a>
        </li>
        <li>
            <a href="form-elements.html">
                <i class="icon-double-angle-right"></i>
                充值记录
            </a>
        </li>
        <li>
            <a href="form-elements.html">
                <i class="icon-double-angle-right"></i>
                其他
            </a>
        </li>



    </ul>
</li>

<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-edit"></i>
        <span class="menu-text"> 订单管理 </span>

        <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
        <li>
            <a href="form-elements.html">
                <i class="icon-double-angle-right"></i>
                我的订单
            </a>
        </li>
        <li>
            <a href="form-elements.html">
                <i class="icon-double-angle-right"></i>
                评价
            </a>
        </li>



    </ul>
</li>

<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-edit"></i>
        <span class="menu-text"> 数据分析 </span>

        <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
        <li>
            <a href="form-elements.html">
                <i class="icon-double-angle-right"></i>
                点击明细
            </a>
        </li>
        <li>
            <a href="form-elements.html">
                <i class="icon-double-angle-right"></i>
                效果报告
            </a>
        </li>



    </ul>
</li>



</ul><!-- /.nav-list -->

<div class="sidebar-collapse" id="sidebar-collapse">
    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
</div>

<script type="text/javascript">
    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
</script>
</div>